.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 4rem;
}

.footer__copyrights {
	color: var(--color-text);
	font-weight: var(--font-medium);
	font-size: 0.9rem;
	text-align: center;
}

.footer__icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}

.footer__icon {
	cursor: pointer;
	width: 1.2rem;
}

@media (max-width: 500px) {
	.footer {
		flex-direction: column;
	}
}
